body {
    background-image: url(/src/img/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
};

.descrHead  {
    color: #BFBFBF !important;
};

.descContent {
    color: #737373 !important;
};