/* 
    General Styles
*/
body {
    background-image: url(/src/img/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    background-color: #262626;
};

.descrHead {
    color: #404040 !important; 
};

.dropdown-menu {
    width: 500px !important;
    /* height: 400px !important; */
} 

.descContent {
    color: #737373 !important;
};